/*.homepage {
    height: 37px;
    width: 100px;
    left: 43px;
    top: 45px;
    border-radius: nullpx;
    position: absolute;

}

nav {
    height: 1024px;
    width: 336px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    position: absolute;
    
}*/